In [ ]:
! pip install xlsxwriter

In [17]:
# Importing dependencies 
import pandas as pd 
import re
import numpy as np 
import xlsxwriter

In [18]:
# Opening the file and checking content
df = pd.read_csv("sent files.CSV")         # change file name in the brackets to your input
df.head()

,To: (Address),CC: (Address),BCC: (Address)
0,/o=ExchangeLabs/ou=Exchange Administrative Gro...,/o=ExchangeLabs/ou=Exchange Administrative Gro...,NaN
1,/o=ExchangeLabs/ou=Exchange Administrative Gro...,NaN,NaN
2,/o=ExchangeLabs/ou=Exchange Administrative Gro...,NaN,NaN
3,mburggre@amazon.com,NaN,NaN
4,/o=ExchangeLabs/ou=Exchange Administrative Gro...,/o=ExchangeLabs/ou=Exchange Administrative Gro...,NaN

In [19]:
# Define a regular expression to extract email addresses
email_regex = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'

In [20]:
# Extract email addresses from the file
emails = []
for column in df.columns:
    for row in df[column]:
        if isinstance(row, str):
            matches = re.findall(email_regex, row)
            emails.extend(matches)

In [27]:
# Extract unique values 
unique = [x for i, x in enumerate(emails) if i == emails.index(x)]

In [28]:
# Convert to dataframe
email_csv = pd.DataFrame(unique, columns = ['Emails'])

In [33]:
# Customize and save to Excel
writer = pd.ExcelWriter('parsed_emails.xlsx')                     # change for a different output file name
email_csv.to_excel(writer, sheet_name = 'Emails', index = False, na_rep = 'NaN')

for column in email_csv:
    column_width = max(email_csv[column].astype(str).map(len).max(), len(column))
    col_idx = email_csv.columns.get_loc(column)
    writer.sheets['Emails'].set_column(col_idx, col_idx, column_width)

writer.save()